.div-login {
  margin-top: 30vh;
}
.title {
  text-align: center;
  background: #0bb8cc;
  height: 5vh;
}

.btn {
 margin-top: 5vh;
}
span{
  color: #ffffff;
}
ion-title span{
  color: #0bb8cc;
}
.user {
  margin-top: 10vh;
}

