//*{
//  margin: 0;
//  padding: 0;
//}
div{
  margin-top: 2vw;
  //width: 100vw;
  background: #ffffff;
  margin-left: 4vw;
  margin-right: 4vw;
  height: 8vh;
  line-height: 8vh;
  border-radius: 8px;
}
ion-icon {
  margin-left: 2vw;
  width: 7vw;
  height: 7vh;
  margin-top: 2px;
  //top: 2px;
  line-height: 9vh;
}
p span{
  position: absolute;
  margin-left: 5vw;
  line-height: 8vh;
  //margin-bottom: 10vh;
}