<div class="divWidth">
    <div class="item-data">
        <div class="item">
            <!--<p ><ion-icon name="notifications"></ion-icon><span>新任务</span></p>-->
            <p  [routerLink]="['/itemDetail']" [queryParams]="{id:name,type:type,time:date,status:'0'}"><span class="pspan">编号：{{name}} <i class="fa fa-angle-right fa-2x left"></i></span></p>
            <hr/>
            <p><span>故障类别：{{type}}</span><span>故障时间: {{date}}</span></p>
        </div>
    </div>
    <div class="btn">
        <button class="btn-style refuse" (click)="onRefuse() "> {{Refuse}}</button>
        <button class=" btn-style  finish" (click)="onAccept()">{{Accept}}</button>
    </div>
</div>