// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~font-awesome/css/font-awesome.css';
//Alert样式
.action-sheets-basic{
  padding: 0;
  .alert-wrapper{
    background: #ffffff;
    border-radius: 8px;
    height: 30vh;
    //width: 80vw;
  }
  .alert-title{
    font-family: "思源黑体";
    font-size: 1.1rem;
    text-align: center;
  }
  .alert-input{
    background: #EEEEEE;
    color: #000;
    font-size: 1rem;
    font-family: Regular;
    height: 10vh;
    margin-left: 1vw;
  }
  .alert-button:first-child{
    margin-right: 23vw;
    font-size: 1rem;
  }
  .alert-button:last-child{
    margin-right: 5vw;
    font-size: 1rem;
  }
}


//Toast样式
.tip {
  .toast-wrapper {
    background: #0bb8cc;
    width: 50vw;
    bottom: 60px;
  }
  .toast-message{
    display:flex;
    justify-content:center;

  }
}