*{
  margin: 0;
  padding: 0;
}
ion-header{
  background: #003868;
}
ion-title {
  color: #ffffff;
  font-family: Algerian;
  text-align: center;
  //mode:'md'
}
.background-content {
  background: #E8E8E8;
}
ion-item {
  background: #E8E8E8;
}
ion-list-header {
  background: #E8E8E8;
}
